/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/table/lib/css/table.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import "~@fontsource/assistant/index.css";
@import "~@blueprintjs/core/lib/scss/variables";

* { padding:0; margin:0;}

#content, html, body, #root, .App, .screen, h1 {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(
        200.96deg,
        #000302 -29.09%,
        #030303 51.77%,
        #000300 129.35%
    );
}

div.bp3-table-menu {
    background: $blue5;
    transform: scaleX(1.1);
}

div.bp3-table-row-headers {
    transform: translateX(1px); // Shift rowHeader column right slightly to cover seperator line (class "..virtual" somthing)
}

div.bp3-table-row-name {
    display: none;
}

div.bp3-table-menu, div.bp3-table-row-headers, div.bp3-table-header {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-width: 0px;
}

div.bp3-table-body-virtual-client {
    background: green;
}

// #content, html, body, #root, .App, h1 {
//     height: 100%;
//     width: 100%;
//     padding: 0px;
//     margin: 0px;
// }

// body {
//   position: relative;
//   height: 100vh;
//   background: linear-gradient(
//     200.96deg,
//     #fedc2a -29.09%,
//     #dd5789 51.77%,
//     #7a2c9e 129.35%
//   );
//   font-family: sans-serif;
//   overflow-y: hidden;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// button {
//   background-color: white;
//   padding: 10px 20px;
//   border-radius: 10px;
//   border: none;
//   appearance: none;
//   font-size: 1.3rem;
//   box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
//     0px 18px 88px -4px rgba(24, 39, 75, 0.14);
//   transition: transform ease-in 0.1s;
//   cursor: pointer;
// }

// button:hover {
//   transform: scale(1.05);
// }

// li {
//   list-style: none;
// }

// a {
//   text-decoration: none;
//   height: fit-content;
//   width: fit-content;
//   margin: 10px;
// }

// a:hover {
//   opacity: 1;
//   text-decoration: none;
// }

// .Hello {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 20px 0;
// }
